@import './variable.less';

page {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'PingFang SC', 'Helvetica Neue', sans-serif;
}

.container {
  background-color: @bg-color;
  height: calc(100% - @tab-bar-height);
  overflow: auto;
}