.info-edit {
  --td-input-vertical-padding: 0;
}

.info-edit__cell {
  .t-cell__title {
    flex: none;
    width: 160rpx;
  }
}

.info-edit__gender {
  --td-radio-vertical-padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--td-bg-color-container, #fff);
}

.textarea-class {
  width: 100% !important;
  padding: 0 !important;
  height: 200rpx;
}

.upload-class {
  width: 100%;
}

.btn_wrap {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 32rpx;
  padding-bottom: calc(env(safe-area-inset-bottom) + 32rpx);
  box-sizing: border-box;
}
