.box {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 500rpx;
}

.btn_wrap {
    padding-bottom: calc(env(safe-area-inset-bottom) + 20rpx);
    bottom: 0;
    position: absolute;
    width: 100%;
}

.save__btn {
    width: 90% !important;
}

.brief-label {
    font-size: 55rpx;
    --td-font-size-base: 32rpx;
}

.external-class {
    height: 280rpx;
}

.cell-title {
    --td-spacer-2: 92rpx;
}