.my {
  height: calc(100vh - 56px);
  overflow-y: auto;

  --td-navbar-bg-color: #f5f6f7;

  &-info,
  &-service,
  &-setting {
    background-color: #fff;
  }

  &-info {
    border-radius: 24rpx;
    margin: 0rpx 32rpx 0rpx 32rpx;
    padding-bottom: 32rpx;
    overflow: hidden;

    .cell-class-title {
      font-weight: 600 !important;
    }

    .cell-class-center {
      display: flex;
      align-items: center !important;
    }

    .divider-class {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .grid-class {
      margin-top: 40rpx;
    }

    .grid-item .t-grid-item__content {
      padding: 0px !important;
    }

    .split-line {
      border-right: 2rpx solid #e7e7e7;
    }

    &__person {
      width: 390rpx;
      height: 104rpx;
      opacity: 1;
      color: #000000e6;
      font-size: 32rpx;
      font-weight: 600;

      .name {
        line-height: 48rpx;
      }

      .tags {
        display: flex;
        margin-top: 16px;
      }

      .tag:not(:last-child) {
        margin-right: 16rpx;
      }
    }
  }

  &-service {
    border-radius: 24rpx;
    margin: 32rpx;
    padding-bottom: 8rpx;
    overflow: hidden;

    &__list-item {
      .t-grid-item__content {
        padding-bottom: 16rpx !important;
      }
      .t-grid-item__text {
        height: 40rpx !important;
      }
    }

    &--tips {
      height: 44rpx;
      line-height: 44rpx;
      padding-left: 40rpx;
      margin-top: 32rpx;
      color: #000000e6;
      font-size: 28rpx;
      font-weight: 600;
    }
  }
}
